  h1.titInfoDocente{
    position: relative;
    /* top: 20px;
    left: 120px; */
    font-family: Roboto, Arial;
    font-weight: 0;
    margin-left: 0;
  }
  
  
 /* table{
    /*border: black solid 1px;
  
  
  }*/
  
  .fotoInfoDocente {
    border: black solid 1px;
    width: 100px;
  }
  
  .burbujaInfoDocente {
    font-family: Roboto, Arial;
    text-align: center;
    background-color: #EADDFF;
    border-radius: 100px;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #21005D;
    border: none;
    font-weight: bold;
  }
  
  .nombreInfoDocente {
    font-family: Roboto, Arial;
    font-size: 16px;
    padding-left: 5px;
  }
  
  .gradoInfoDocente {
    font-family: Roboto, Arial;
    font-size: 13px;
    color: #49454F;
    padding-left: 5px;
  }
  
  .fotoInfoDocente {
    width: 184px;
    height: 151px;
  }
  
  .textoInfoDocente {
    width: 626px;
    height: 151px;
    font-family: Roboto, Arial;
    font-size: 14px;
    padding-left: 5px;
  }
  
  .correoInfoDocente {
    font-family: Roboto, Arial;
    font-size: 13px;
    position: relative;
    top: -25px;
    font-weight: 100;
    padding-left: 10px;
  }
  
  .correoe {
    font-family: Roboto, Arial;
    font-size: 14px;
    position: relative;
    top: -90px;
    font-weight: 400;
    padding-left: 10px;
    text-decoration-line: underline;
  }
  
  .cursosInfoDocente {
    font-family: Roboto, Arial;
    font-size: 13px;
    font-weight: 100;
  }
  
  .opcionesInfoDocente {
    text-align: center;
    font-family: Roboto, Arial;
    font-size: 14px;
    border: 1px solid #79747E;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    color: #49454F;
    position: relative;
    margin-left: 10px;
  }
  
  .confInfoDocente {
    border-collapse: separate;
    border-spacing: 10px 5px;
  }
  
  .subtitInfoDocente {
    position: relative;
    font-family: Roboto, Arial;
    font-size: 14px;
  }
  
  .inputInfoDocente {
    width: 270px;
    height: 50px;
    border: rgb(103, 80, 164) 3px solid;
    border-radius: 10px;
    font-family: Roboto,Arial;
    font-size: 16px;
    padding-left: 10px;
    position: relative;
    margin-right: 30px;
    
   }
  
   .log1InfoDocente {
    font-family: Roboto,Arial;
    font-size: 13px;
    background-color: #FFF6FF;
    color: rgb(103, 80, 164);
    position: relative;
    font-weight: 600;
    z-index: 1;
    left: 10px;
  }
  
  .formatoInfoDocente {
    font-family: Roboto,Arial;
    font-size: 12px;
    color: #49454F;
    position: relative;
    top: -19px;
    left: 20px;
  }
  
  .horasInfoDocente {
    text-align: center;
    font-family: Roboto, Arial;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    color: #49454F;
    position: relative;
    background: #E8DEF8;
  }
  
  .conf2InfoDocente {
    border-collapse: separate;
    border-spacing: 10px 5px;
    position: relative;
    margin-top: -15px;
    /* margin-left: 130px; */
  
  }
  
  .duracionInfoDocente {
    /* margin-left: 120px; */
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 100;
    margin-top: -10px;
  }
  
  .fondoInfoDocente {
    background: #FEF7FF;
    /* margin-left: 130px; */
    margin-top: 45px;
    width: 100%;
  }
  
  .sinfondoInfoDocente {
    /* margin-left: 130px; */
    margin-top: 20px;
  }

  .divInfoDocente {
    /*margin-left: 43px;*/
    padding-left: 193px;
    box-sizing: border-box;
  }