hr {
    position: relative;
    width: 90%;
    top: 1px;
    background-color: gray;
    height: 1px;
    margin-left: 135px;
}
h1{
    margin-left: 135px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.tabla1{
    margin-left: 135px;
    
}
.input {
    width: 1000px;
    height: 56px;
    border: rgb(103, 80, 164) 3px solid;
    border-radius: 10px;
    font-family: Arial;
    font-size: 30px;
    padding-left: 10px;
    position: relative;
    ;
    margin-top: 20px;
   }  
.log1 {
    font-family: Arial;
    font-size: 13px;
    background-color: #FFF6FF;
    color: rgb(103, 80, 164);
    position: relative;
    font-weight: 600;
    z-index: 1;
    top: -82px;
    left: 10px;
   
  }


.abajo {
    text-align: left;
    color: #49454F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 12px;
    margin-top: -30px;
    margin-left: 20px;
  }
.alo{
    background-color: #FEF7FF;
    width: 350px;
    height: 50px;
    
}
.tabla2{
    border-collapse: separate;
    border-spacing: 20px 14px;
    table-layout: fixed;
    font-size: 15px;
    line-height: 20px;
    margin-left: -15px;
}
.tabla2 td {
    padding: 20px;
    border: 10px;
    text-align: left;
}

.tabla2 tr:last-child td {
    margin-bottom: 0;
}
.triangle {
    width: 0;
    height: 0;
    border-top: 1px solid transparent;
    border-bottom:1px solid transparent;
    border-left: 5px solid black;
  }
  
  .segmented-button {
    display: flex;
    border-radius: 20px;
    margin-left: -200px;
    margin-bottom: 22px;
  }
  
  .segmented-button button {
    flex: 1;
    background-color: white;
    border: none;
    
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: 2px solid GRAY;
    
  }
  
  .segmented-button button.active {
    background-color: #E8DEF8;
    color: black;
  }
  .segmented-button button:first-child {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  
  .segmented-button button:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
