#noCitas{
    position: absolute;
    width: 496px;
    height: 28px;
    left: 392px;
    top: 233px;

    /* M3/title/large */

    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 127% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
hr {
    position: relative;
    width: 86.3%;
    top: 10px;
  }
  .Titulo {
    position: relative;
    top: 20px;
    transform: translateX(-537px);
  }  
#botonProgramarCita{
    /* Texto contenido */


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    
    color: #FFFFFF;
    
    /*Boton*/
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    
    position: absolute;
    width: 170px;
    height: 40px;
    left: 555px;
    top: 320px;
    cursor: pointer;
    background: #6750A4;
    border-radius: 100px;
    border-color: transparent;
}

