#mi_perfil .container-1 {
    width: 1200px;
    padding: 30px 0 0 0;
    margin: 50px 0 0 170px;
}

#mi_perfil .p-title {
    display: inline;
    font-size: 22px;
    font-weight: bold;
}

#mi_perfil #btn-guardar {
    display: inline;
    float: right;
    margin: 0 140px 0 0;
    padding: 9px 20px 9px 20px;
    background-color: #6750A4;
    border-radius: 100px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}

#mi_perfil #btn-guardar:hover {
    cursor: pointer;
}

#mi_perfil .hr {
    margin: 20px 0 20px 0;
}

#mi_perfil .p {
    margin: 0 0 15px 0;
    size: 14px;
    font-weight: 500;
}

#mi_perfil .container-1 td {
    vertical-align: top;
}

#mi_perfil .container-1 .fourth-column {
    padding: 0 0 0 60px;
}

#mi_perfil #foto-usuario {
    width: 200px;
    height: 200px;
    align-content: center;
}

#mi_perfil #adjuntar-foto {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #6750A4;
}

#mi_perfil #adjuntar-foto:hover {
    cursor: pointer;
}