
.Titulo {
  position: relative;
  top: 20px;
  left: 130px;
}

.subtitulo{
  position: relative;
  top: 20px;
  left: 130px;
}

hr {
  position: relative;
  width: 86.3%;
  top: 10px;
}

.crearCita{
  float: right;
  margin-top: 50px;
  margin-right: 130px;
  width: 10%;
  border-radius: 30px;
  border-width: 0px;
  height: 40px;
  background-color: rgb(103, 80, 164);
  color: white;
}

.citasPasadas{
  border-width: 1px;
  background-color: white;
  color:rgb(103, 80, 164);
  float: right;
  margin-top: 10px;
  margin-right: 130px;
  width: 10%;
  border-radius: 30px;
  height: 40px;
}



.citaX{
  width: 300px;
  height: 425px;
  margin-top: 50px;
  margin-left: 130px;
  border-width: 1px;
  background-color: white;
  border-color: rgb(103, 80, 164);
  border-radius: 30px;
  
}

.NombreProfe{
  text-align: left;
  background-color: aqua ;  
  width: 40%;
  padding: 10px;
  margin-bottom: 20px;
  height: 15px;
}

.fotoProfesor{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenerdorImagen{
  height: 150px;
  object-fit: cover;
  background-color: gray;
  
}

.cuentaProfe{
  width: 60px;
  background-color:rgb(103, 80, 164);
  height: 60px;
  border-radius: 50%;
  color: #f1f1f1;
  font-size: large;
  align-items: center;
  justify-content:center;
  display: flex;
  text-align: center;

}

.cuentaAlumno{
  width: 60px;
  background-color:rgb(103, 80, 164);
  height: 60px;
  border-radius: 50%;
  color: #f1f1f1;
  font-size: large;
  align-items: center;
  justify-content:center;
  display: flex;
  text-align: center;
}

.contenedorSuperior{
  display: flex;
  align-items: flex-start;
  
}

.inforProfe_Tabla{
  width: 100%;
  margin-left: 1%;
  margin-bottom: 3%;
}

.inforAlumno_Tabla{
  width: 100%;
  margin-left: 1%;
  margin-bottom: 3%;
}

.contenedorCuenta{
  width: 25%;
  
}

.infoProfe{
  text-align: left;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.infoAlumno{
  text-align: left;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.carreraProfe{
  text-align: left;
  height: 30px;
  font-size: 15px;
}

.carreraAlumno{
  text-align: left;
  height: 30px;
  font-size: 15px;
}

.fechaCita{
  margin-top: 5%;
  text-align: left;
  height: 25px;
  font-size: 15px;
  margin-left: 2%;
  font-weight: 650;
}

.cursoCita{
  text-align: left;
  height: 30px;
  font-size: 13px;
  margin-left: 2%;
}

.enlaceZoom{
  margin-top: 20px;
  display: flex;
  margin-left: 2%;
}

.cancelarBoton{
  border-width: 1px;
  background-color: white;
  color:rgb(103, 80, 164);
  border-radius: 30px;
  margin-top: 20px;
  height: 40px;
  width: 90px;
  float: right;
  margin-right: 20px;
  border: #79747E;
}