.pci p{
    font-size: 30px;
    margin-left: 100px;
}

.pci .Pbcitas{
    
    background-color:rgb(247, 241, 241);
    
    height: 300px;
    width: 1200px;
    margin-left: 100px;

}

.pci .Pbcitas #Titulo{
    margin-left: 10px;
}

.pci .caja img{
    height: 90px;
    width: 90px;
    margin-left: 10px;
    margin-top: 10px;
}

.pci .caja{
    background-color: white;
    border-color: black;
    border-radius: 20px;
    margin-left: 10px;
    width: 500px;
    height: 100px;
}

.pci .caja #p1{
    margin-top: -100px;
    
}

.pci .caja #p2{
    margin-left: 250px;
    
    font-size: 20px;
}


.pci .cant {
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
  }
