@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1.title {
  position: relative;
  text-align:center;
  font-family: Roboto,Arial;
  margin: 24px auto !important;
}

.inputLogin {
  width: 100%;
  height: 56px;
  border: rgb(103, 80, 164) 3px solid !important;
  border-radius: 4px;
  font-family: Roboto,Arial;
  font-size: 16px;
  padding: 2px !important;
  position: relative;
  box-sizing: border-box;
  
 }

 .RegistroLogin {
  text-align: right;
  color: rgb(103, 80, 164);
  font-family: Roboto,Arial;
  font-weight: bold;
  font-size: 13px;
}

 table.logintable{
  margin-left: auto;
  margin-right: auto;
 }

 .salir {
  border-radius: 30px;
  border-width: 0px;
  height: 40px;
  background-color: white;
  color: rgb(103, 80, 164);
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}

.blanco {
  border-radius: 30px;
  border-width: 0px;
  height: 40px;
  background-color: white;
  color: white;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}

.ingresar {
  border-radius: 30px;
  border-width: 0px;
  height: 40px;
  background-color: #F1E0FF;
  color: black;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}


.log1LoginLabel {
  font-family: Roboto,Arial;
  font-size: 13px;
  background-color: #FFF6FF;
  color: rgb(103, 80, 164);
  position: absolute;
  font-weight: 600;
  z-index: 1;
  top: -19px;
  left: 10px;
  display: inline-block;
  padding: 0 4px;
}

.input_wrap {
  position: relative;
}